<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hthyaq.learnadmin.mapper.TablemapinfoCopyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hthyaq.learnadmin.model.entity.TablemapinfoCopy">
        <id column="id" property="id" />
        <result column="chineseTableName" property="chineseTableName" />
        <result column="englishTableName" property="englishTableName" />
        <result column="chineseColumnName" property="chineseColumnName" />
        <result column="englishColumnName" property="englishColumnName" />
        <result column="dataType" property="dataType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, chineseTableName, englishTableName, chineseColumnName, englishColumnName, dataType
    </sql>

</mapper>
